<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/"method="POST">  <!--fill that on which endpint you want to submit the form or after submitting want to go to-->
        <input type="text" name="drink" placeholder="Enter drink">
        <input type="text" name="description" placeholder="Enter description">
        <button type="submit" name='action' value="add">Add More</button>
        <button type="submit" name='action' value="submit">Submit</button>
    
    </form>
</body>
</html>